<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.seasar.dblauncher.nature.DbLauncherNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.seasar.dblauncher.preferences.H2PreferencesPage"
            id="org.seasar.dblauncher.propertyPage"
            name="%plugin.label"
            objectClass="org.eclipse.core.resources.IProject"/>
      <page
            adaptable="true"
            class="org.seasar.dblauncher.preferences.H2PreferencesPage"
            id="org.seasar.dblauncher.propertyPage"
            name="%plugin.label"
            objectClass="org.eclipse.jdt.core.IJavaProject"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.seasar.dblauncher.manager"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.seasar.dblauncher.menu"
               label="H2"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
            <groupMarker name="additions3"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.dblauncher.nature"/>
         </visibility>
         <action
               class="org.seasar.dblauncher.action.StartServerAction"
               definitionId="org.seasar.dblauncher.command.start"
               enablesFor="1"
               icon="icons/run_exc.gif"
               id="org.seasar.dblauncher.action.start"
               label="%start"
               menubarPath="org.seasar.dblauncher.menu/additions">
            <enablement>
               <not>
                  <objectState
                        name="sessionProperty"
                        value="org.seasar.dblauncher.serverstate"/>
               </not>
            </enablement>
         </action>
         <action
               class="org.seasar.dblauncher.action.StopServerAction"
               enablesFor="1"
               icon="icons/term_sbook.gif"
               id="org.seasar.dblauncher.action.stop"
               label="%stop"
               menubarPath="org.seasar.dblauncher.menu/additions2">
            <enablement>
              <objectState
                    name="sessionProperty"
                    value="org.seasar.dblauncher.serverstate"/>
            </enablement>
         </action>
         <action
               class="org.seasar.dblauncher.action.ViewDatabaseManagerAction"
               enablesFor="1"
               icon="icons/dbman.gif"
               id="org.seasar.dblauncher.action.manager"
               label="%manager"
               menubarPath="org.seasar.dblauncher.menu/additions3">
            <enablement>
               <objectState
                     name="sessionProperty"
                     value="org.seasar.dblauncher.serverstate"/>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.dblauncher.sqlexecutor"
            nameFilter="*.sql"
            objectClass="org.eclipse.core.resources.IFile">
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.dblauncher.nature"/>
         </visibility>
         <action
               class="org.seasar.dblauncher.action.QueryExecuteAction"
               enablesFor="1"
               icon="icons/icon_commit.gif"
               id="org.seasar.dblauncher.action.execute"
               label="%execute">
            <enablement>
               <objectState
                     name="projectSessionProperty"
                     value="org.seasar.dblauncher.serverstate"/>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.seasar.dblauncher.decorator.DBRunningDecorator"
            id="org.seasar.dblauncher.decorator"
            label="DBRunningDecorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.dblauncher.nature"/>
               <objectClass name="org.eclipse.jdt.core.IJavaProject"/>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.seasar.dblauncher.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="org.seasar.dblauncher.variable.H2Variable"
            variable="H2_LIB"/>
      <classpathVariableInitializer
            class="org.seasar.dblauncher.variable.H2SrcVariable"
            variable="H2_SRC"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.seasar.dblauncher.category"
            name="DbLauncher"/>
      <command
            categoryId="org.seasar.dblauncher.category"
            defaultHandler="org.seasar.dblauncher.command.StartServerActionHandler"
            id="org.seasar.dblauncher.command.start"
            name="%start"/>
      <command
            categoryId="org.seasar.dblauncher.category"
            defaultHandler="org.seasar.dblauncher.command.StopServerActionHandler"
            id="org.seasar.dblauncher.command.stop"
            name="Stop H2 Server"/>
   </extension>
   <extension
         id="launchConfigurationTypes"
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.seasar.dblauncher.launch.H2LaunchConfigurationDelegate"
            id="org.seasar.dblauncher.launchConfigurationType"
            modes="run, debug"
            name="%plugin.label"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.seasar.dblauncher.launch.H2LaunchConfigurationTabGroup"
            id="org.seasar.dblauncher.launchConfigurationTabGroup"
            type="org.seasar.dblauncher.launchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.seasar.dblauncher.launchConfigurationType"
            icon="icons/h2.gif"
            id="org.seasar.dblauncher.launchConfigurationTypeImage"/>
   </extension>

</plugin>
